<div class="row  new_product">
  <div class="product_form col-sm-6">
    <%= form_with(model: @product, local: true) do |f| %>
      <div class="form_group">
          <div><span class='mandatory'></span> <%= f.label :image, "商品画像" %></div>
          <div><span>最大5枚までアップロードできます</span></div>
          <div>
          <% @product.images.each do |image| %>
            <li><%= image_tag image.url, class: "edit_image" %></li>
            <%= hidden_field :product, :images, multiple: true, value: image.identifier %>
          <% end %>
          <%= f.hidden_field :images_cache %><br>
          <%= f.file_field :images, multiple: true unless @product.images.count == 5 %>
          <div><span style="color: red;"><%= @product.errors.full_messages_for(:images).first %></span></div>
          </div>
      </div>

      <div class="form_group">
        <div><span class='mandatory'></span><%= f.label :name, "商品名" %></div>
        <div class="is-invalid"><%= f.text_field :name %></div>
        <div><span style="color: red;"><%= @product.errors.full_messages_for(:name).first %></span></div>
      </div>

      <div class="form_group">
        <div><span class='mandatory'></span><%= f.label :description, "商品説明" %></div>
        <div><%= f.text_area :description %></div>
        <div><span style="color: red;"><%= @product.errors.full_messages_for(:description).first %></span></div>
      </div>

      <div class="form_group">
        <div><span class='mandatory'></span><%= f.label :rental_price, "レンタル料金" %></div>
        <div><%= f.text_field :rental_price, placeholder:"例：999" %></div>
        <div><span style="color: red;"><%= @product.errors.full_messages_for(:rental_price).first %></span></div>
      </div>

      <div class="form_group">
        <div><span class='mandatory'></span><%= f.label :selling_price, "参考販売価格" %></div>
        <div><%= f.text_field :selling_price, placeholder:"例：999" %></div>
        <div><span style="color: red;"><%= @product.errors.full_messages_for(:selling_price).first %></span></div>
      </div>

      <div class="form_group">
        <div><span class='mandatory'></span><%= f.label :size, "製品寸法" %></div>
        <div><%= f.text_field :size, placeholder:"例：約W32×D32×H32cm" %></div>
        <div><span style="color: red;"><%= @product.errors.full_messages_for(:size).first %></span></div>
      </div>

      <div class="form_group">
        <div><span class='mandatory'></span><%= f.label :weight, "重量" %></div>
        <div><%= f.text_field :weight, placeholder:"例：9.9" %></div>
        <div><span style="color: red;"><%= @product.errors.full_messages_for(:weight).first %></span></div>
      </div>

      <div class="form_group">
        <div><span class='any'></span><%= f.label :brand, "検索用（ブランド名など）" %></div>
        <div><%= f.text_field :brand %></div>
      </div>

        <%= f.submit "作成", class: "form_btn btn btn-outline-danger" %><br/>
        <%= link_to "戻る", products_path, class: "form_btn" %>
    <% end %>
  </div>
</div>
 




