<h1>商品一覧</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :name %>
  <%= f.search_field :name_cont %>

  <%= f.label :price %>
  <%= f.number_field :rental_price_gteq %>円〜
  <%= f.number_field :rental_price_lt %>円

  <%= f.submit "検索" %>
<% end %>
<%= link_to "新規作成", new_product_path %>
<% @products.each do |product| %>
  <div>
    <%= link_to product.name, product_path(product.id) %>
    <%= product.rental_price %>
    <%= link_to "編集", edit_product_path(product.id) %>
    <%= link_to "削除", product_path(product.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
