  <h2>商品一覧</h2>
<div class="row">
<div class="col-sm-1"></div>
  <div class="search col-sm-2">
    <p>商品検索</p>
    <%= search_form_for @q do |f| %>
      <p><%= f.search_field :brand_or_name_cont, placeholder:"キーワード検索" %></p>
      <p><%= f.label :price, "金額検索" %></p>
      <p><%= f.number_field :rental_price_gteq %><br/>円以上</p>
      <p><%= f.number_field :rental_price_lt %><br/>円未満</p>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
    <p>ソート</p>
    <p><%= sort_link(@q, :rental_price, "金額順") %></p>
  </div>
  <div class="flex col-sm-8">
    <% @products.each do |product| %>
      <div class="index_container ">
        <ul>
          <li><%= link_to (image_tag product.photos[0].image.url, class: "index_photo"), product_path(product.id) %></li>
          <li><%= link_to product.name, product_path(product.id) %></li>
          <li>レンタル料金<%= product.rental_price %>円<span class="tax">(税込)</span></li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-sm-1"></div>
</div>

