<div class="center">
  <%= form_with(model: @product, local: true) do |f| %>
  <div class="product_form">
    <table>
      <tbody>
        <tr>
          <%= f.fields_for :photos do |image| %>
          <td></td>
          <td><%= image.file_field :image, multiple: true, name: 'product_photos[image][]' %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= image.file_field :image, multiple: true, name: 'product_photos[image][]' %></td>
        </tr>
        <tr>
          <td>画像</td>
          <td><%= image.file_field :image, multiple: true, name: 'product_photos[image][]' %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= image.file_field :image, multiple: true, name: 'product_photos[image][]' %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= image.file_field :image, multiple: true, name: 'product_photos[image][]' %></td>
          <% end %>
        </tr>
        <tr>
          <td><%= f.label :name %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td> <%= f.label :description %></td>
          <td><%= f.text_field :description %></td>
        </tr>
        <tr>
          <td><%= f.label :rental_price %></td>
          <td> <%= f.text_field :rental_price %></td>
        </tr>
        <tr>
          <td><%= f.label :selling_price %></td>
          <td><%= f.text_field :selling_price %></td>
        </tr>
        <tr>
          <td><%= f.label :size %></td>
          <td><%= f.text_field :size %></td>
        </tr>
        <tr>
          <td><%= f.label :weight %></td>
          <td><%= f.text_field :weight %></td>
        </tr>
        <tr>
          <td><%= f.label :brand %></td>
          <td><%= f.text_field :brand %></td>
        </tr>
        <tr>
          <td><%= f.submit %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% end %>
</div>