<h1>詳細画面</h1>
<% @product.photos.each do |photo| %>
    <p><%= image_tag photo.image.url, class: "image" %></p>
<% end %>
<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p><%= @product.size %></p>
<p><%= @product.storage_size %></p>
<p><%= @product.rental_price %></p>
<p><%= @product.selling_price %></p>
<div>
  <% if !Favorite.exists?(user_id: current_user.id, product_id: @product.id) %>
    <%= link_to "お気に入り登録", product_favorites_path(@product.id), method: :post %>
  <% else %>
    <%= link_to "お気に入り削除", product_favorites_path(product_id: @product.id, id: @product.favorites[0].id), method: :delete %>
  <% end %>
</div>
<%= form_with(url: add_item_carts_url, method: :post, local: true) do |f| %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.number_field :quantity, value: 1 %>
    <%= f.submit "カートに入れる" %>
<% end %>
<div id="reviews_area">
    <%= render partial: 'reviews/index', locals: { reviews: @reviews, product: @product } %>
  </div>
  <%= render partial: 'reviews/form', locals: { review: @review, product: @product } %>
  <%= link_to '編集', edit_product_path(@product) %> |
  <%= link_to '戻る', products_path %>
</div>