<h1>詳細画面</h1>
<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p><%= @product.size %></p>
<p><%= @product.storage_size %></p>
<p><%= @product.rental_price %></p>
<p><%= @product.selling_price %></p>
