<%= form_with(model: [product, review]) do |form| %>
  <div class="review_box text-left pl-3 mb-5">
    <div class="review_rating">
      <label>評価</label><br>
    </div>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
    <div id="error_explanation"><%= render partial: 'reviews/error', locals: { review: @review } %></div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="actions">
      <%= form.submit '投稿する' %>
    </div>
  </div>
<% end %>
<script>
  $('.review_rating').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    scoreName: 'review[rate]'
  });
</script>