<% if @product.reviews.first.id.nil? %>
  <p class="review_box text-left">まだレビューがありません</p>
<% end %>
<% reviews.each do |review| %>
  <% if review.id.present? %>
    <div class="review_box text-left">
      <div class="review_comment" id ="this_review_<%= review.id %>">
        <div class="review_name">
          <div><%= "USER #{review.user.id}様" %></div>
          <div>
            <% if current_user.present? && current_user == review.user %>
              <%= link_to "編集", edit_product_review_path(product, review), remote: true %>
              <%= link_to "削除", product_review_path(review.product_id, review.id), method: :delete, remote: true,data: { confirm: "本当に削除しますか?"} %>
            <% end %>
          </div>
        </div>
        <p class="review_rate" data-score="<%= review.rate %>"></p>
        <p><%= review.comment %></p>
      </div>
    </div>
  <% end %>
<% end %>
<script>
  $('.review_rate').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    half: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>"
  });
</script>