<!DOCTYPE html>
<html>
  <head>
    <title>BonfireLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <div class="logo">
        <div>
          <%= link_to image_tag("logo.png", class: "logo-image"), root_path %>
          <div class="logo_font">Bonfire Life</div>
        </div>
      </div>
      <div class="header_link">
        <% if user_signed_in? %>
          <%= link_to "HOME", root_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= link_to "商品一覧", products_path %>
          <%= link_to "レンタル履歴一覧", orders_path %>
          <%= link_to "お気に入り一覧", favorites_path %>
          <%= link_to "カート", my_cart_carts_path %>
          <% if current_user.account.admin == true %>
            <%= link_to "商品登録", new_product_path %>
          <% end %>
        <% else %>
          <%= link_to "HOME", root_path %>
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "会員登録", new_user_registration_path, 'data-turbolinks': false %>
          <%= link_to "商品一覧", products_path %>
        <% end %>
      </div>
    </header>
    <div id="container">
      <%= yield %>
    </div>
    <footer>
      <div>Copyright ©2021 Bonfire Life INC</div>
    </footer>
  </body>
</html>
